<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
		<h1>
				Disciplinas
			  </h1>
			<hr>
			<table class="table table-hover table-bordered">
				<thead class="thead-light">
					<tr>
						<th>Disciplinas</th>
						<th width="200">Ações</th>
					</tr>
				</thead>
				<tbody>
						<tr *ngFor="let disciplina of disciplinas"
						[class.table-active]="editando == disciplina">
						<td>
							<i *ngIf="editando == disciplina"
							   class="fa fa-pencil-square"></i>
							{{disciplina.nome}}
						</td>
						<td>
							<button class="btn btn-sm btn-danger"
									(click)="excluir(disciplina)">
								<i class="fa fa-trash"></i> Excluir
							</button>
							<button class="btn btn-sm btn-primary"
									(click)="editar(disciplina)">
								<i class="fa fa-pencil-square"></i> Editar
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			
			<h2>Cadastrar</h2>
			<p>Use este formulário para cadastrar novas disciplinas.</p>
			<form #cadastro="ngForm" (submit)="salvar()" >
				<div class="col-xs-12">
							<label for="input-nome">Nome</label>
							<input id="input-nome" name="nome" type="text"  [(ngModel)]="nome" required	>
				  </div>
				  <div class="col-xs-12">
					<textarea name="descricao" id="input-descricao" placeholder="Descrição" cols="70" rows="5" [(ngModel)]="descricao" required></textarea>
				 </div>
				 <button type="submit" class="btn btn primary" [disabled]="!cadastro.valid">Salvar</button> <button type="reset" class="btn btn primary" (click)="cancelar()">Cancelar</button>
			</form>
</div>
 